/* .rotate:hover
{
        -webkit-transform: rotateZ(-180deg);
        -ms-transform: rotateZ(-180deg);
        transform: rotateZ(-180deg);

} */

.rotate {
  animation: rotation 60s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.grow:hover
{
        -webkit-transform: scale(.8);
        -ms-transform: scale(.8);
        transform: scale(.8);
}
